<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hutch</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>


    <link href="~/Content/Styles/Reset.css" rel="stylesheet" />
    <link href="~/Content/Styles/Shared.css" rel="stylesheet" />
    <link href="~/Content/Styles/Nav/Nav.css" rel="stylesheet" />
    <link href="~/Content/Styles/Footer/Footer.css" rel="stylesheet" />

</head>
<body>
    <nav class="nav">

        <div class="nav-upper">

            <div class="nav-upper-link-wrapper">

                <div class="nav-upper-link-container">

                    <button class="nav-upper-close-btn">
                        <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" fill="#000000" viewBox="0 0 256 256">
                            <path d="M205.66,194.34a8,8,0,0,1-11.32,11.32L128,139.31,61.66,205.66a8,8,0,0,1-11.32-11.32L116.69,128,50.34,61.66A8,8,0,0,1,61.66,50.34L128,116.69l66.34-66.35a8,8,0,0,1,11.32,11.32L139.31,128Z"></path>
                        </svg>
                    </button>

                    <div>
                        <h6>Sign up & get 15% off</h6>
                        <p>
                            Members get more! Like a 15% discount voucher, early access to the sale and access to limited edition products.
                            Sign up now!
                        </p>
                        <a>Learn more</a>
                    </div>

                    <div>

                        <h6>Free delivery, return & exchange</h6>

                        <p>
                            Members get more! Like a 15% discount voucher, early access to the sale and access to limited edition products.
                            Sign up now!
                        </p>

                        <a>Read more on delivery</a>
                        <a>Read more on return</a>
                        <a>Read more on exchange</a>

                    </div>

                    <div>

                        <h6>Net banking available</h6>

                        <p>
                            UPI & NET BANKING AVAILABLE
                        </p>

                    </div>

                </div>
            </div>
                
                

                <div class="nav-upper-text-container">

                    <h6 class="nav-upper-text">Sign up & get 15% off</h6>

                    <button class="nav-upper-link-btn">
                        <svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" fill="#ffffff" viewBox="0 0 256 256">
                            <path d="M213.66,101.66l-80,80a8,8,0,0,1-11.32,0l-80-80A8,8,0,0,1,53.66,90.34L128,164.69l74.34-74.35a8,8,0,0,1,11.32,11.32Z"></path>
                        </svg>
                    </button>
                </div>


       </div>
            

        <div class="nav-container">

            <button class="hamburger-menu-btn">
                <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="#000000" viewBox="0 0 256 256">
                    <path d="M224,128a8,8,0,0,1-8,8H40a8,8,0,0,1,0-16H216A8,8,0,0,1,224,128ZM40,72H216a8,8,0,0,0,0-16H40a8,8,0,0,0,0,16ZM216,184H40a8,8,0,0,0,0,16H216a8,8,0,0,0,0-16Z"></path>
                </svg>
            </button>

            <a class="nav-home" href="@Url.Action("Index", "Home")">
                <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
                     width="130" height="30" viewBox="50 100 240 50"
                     preserveAspectRatio="xMidYMid meet" color-interpolation-filters="sRGB"
                     style="margin: auto;">
                    <g data-v-0dd9719b="" fill="#18130d" class="iconlinesvg-g iconlinesvg" transform="translate(86.8103609085083,102.74509048461914)"><g class="tp-name"><g transform="translate(0, 0)"><g data-gra="path-name" fill="#18130d" transform="scale(1)"><path d="M30.19-41.48L38.51-41.48L38.51 0L30.19 0L30.19-17.65L12.42-17.65L12.42 0L4.10 0L4.10-41.48L12.42-41.48L12.42-24.42L30.19-24.42L30.19-41.48Z" transform="translate(-4.100363156157147, 43.97490921096072)"></path></g></g><g transform="translate(38, 2.2523247669406885)"><g><g class="imagesvg"><g><rect fill="#18130d" fill-opacity="0" stroke-width="2" x="0" y="0" width="35.928170967333386" height="40.00508965396941" class="image-rect"></rect> <svg x="0" y="0" width="35.928170967333386" height="40.00508965396941" filtersec="colorsb6614549201" class="image-svg-svg primary" style="overflow: visible;"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 -3.197441294480914e-14 113.06000518798828 125.88999938964844"><title>U</title><g id="fd6016d2-c96e-426b-8ec6-be844d19d81e" data-name="圖層 2"><g id="603d6c58-417f-4c92-adc4-633165d5b8eb" data-name="栝鍣 1"><path d="M108.56,0H69.84a4.5,4.5,0,0,0-4.5,4.5V87.1H47.72V4.5A4.5,4.5,0,0,0,43.22,0H4.5A4.5,4.5,0,0,0,0,4.5v87s0,0,0,0v0c0,.11,0,.21,0,.32s0,.1,0,.15A4.5,4.5,0,0,0,2.3,95.53L40.47,125a4.48,4.48,0,0,0,.63.41l.18.08a4.51,4.51,0,0,0,.5.21l.31.08c.13,0,.26.08.4.1a4.51,4.51,0,0,0,.6,0h65.47a4.5,4.5,0,0,0,4.5-4.5V4.5A4.5,4.5,0,0,0,108.56,0ZM65.34,116.94H44.75l-27-20.84H65.34ZM38.72,9V87.1H9V9Zm65.34,107.94H74.34V9h29.72Z" fill="#18130d"></path></g></g></svg></svg> <!----></g></g></g></g><g transform="translate(77, 0)"><g data-gra="path-name" fill="#18130d" transform="scale(1)"><path d="M21.16-26.09L13.79-26.09L13.79-10.16Q13.79-8.50 14.59-7.76Q15.39-7.01 17.29-7.01L17.29-7.01L21.16-7.01L21.16 0L15.93 0Q5.41 0 5.41-10.22L5.41-10.22L5.41-26.09L1.49-26.09L1.49-32.92L5.41-32.92L5.41-41.06L13.79-41.06L13.79-32.92L21.16-32.92L21.16-26.09Z" transform="translate(-1.4856388246946188, 43.97490921096072)"></path></g></g><g transform="translate(100, 0)"><g data-gra="path-name" fill="#18130d" transform="scale(1)"><path d="M1.96-16.46Q1.96-21.57 4.04-25.40Q6.12-29.24 9.81-31.35Q13.49-33.46 18.24-33.46L18.24-33.46Q24.36-33.46 28.38-30.40Q32.39-27.34 33.75-21.81L33.75-21.81L24.78-21.81Q24.07-23.95 22.37-25.17Q20.68-26.38 18.18-26.38L18.18-26.38Q14.62-26.38 12.54-23.80Q10.46-21.21 10.46-16.46L10.46-16.46Q10.46-11.77 12.54-9.18Q14.62-6.60 18.18-6.60L18.18-6.60Q23.24-6.60 24.78-11.11L24.78-11.11L33.75-11.11Q32.39-5.76 28.35-2.61Q24.31 0.53 18.24 0.53L18.24 0.53Q13.49 0.53 9.81-1.57Q6.12-3.68 4.04-7.52Q1.96-11.35 1.96-16.46L1.96-16.46Z" transform="translate(-1.961043248596897, 43.97490921096072)"></path></g></g><g transform="translate(135, 0)"><g data-gra="path-name" fill="#18130d" transform="scale(1)"><path d="M22.64-33.40Q26.38-33.40 29.30-31.76Q32.21-30.13 33.84-26.95Q35.48-23.77 35.48-19.31L35.48-19.31L35.48 0L27.16 0L27.16-18.18Q27.16-22.11 25.20-24.22Q23.24-26.33 19.85-26.33L19.85-26.33Q16.40-26.33 14.41-24.22Q12.42-22.11 12.42-18.18L12.42-18.18L12.42 0L4.10 0L4.10-43.97L12.42-43.97L12.42-28.82Q14.02-30.96 16.70-32.18Q19.37-33.40 22.64-33.40L22.64-33.40Z" transform="translate(-4.100363156157148, 43.97490921096072)"></path></g></g></g> <!----></g>
                    <defs v-gra="od"></defs>
                </svg>
            </a>

            <div class="nav-searche-form-container">

                <form role="search" class="nav-search-bar" method="get" action="@Url.Action("DisplayProduct", "Product")">

                    <svg xmlns="http://www.w3.org/2000/svg" width="23" height="23" fill="#000000" viewBox="0 0 256 256"><path d="M229.66,218.34l-50.07-50.06a88.11,88.11,0,1,0-11.31,11.31l50.06,50.07a8,8,0,0,0,11.32-11.32ZM40,112a72,72,0,1,1,72,72A72.08,72.08,0,0,1,40,112Z"></path></svg>
                    <input onkeyup="getSuggestion()" id="nav-search" class="nav-search-input" name="searchInput" type="text" autocomplete="off" placeholder="Search it, get it" />
                    <input class="nav-search-submit-btn" type="submit" value="Submit"/>

                    <div class="search-suggestion-container">
                        <h6>Discover more</h6>
                        <ul class="suggestion"></ul>
                    </div>

                </form>

            </div>


            <div class="nav-links">
                <div class="nav-dropdown-login nav-user">
                    <button class="nav-login-btn" type="button">
                        <svg xmlns="http://www.w3.org/2000/svg" width="19" height="19" fill="#000000" viewBox="0 0 256 256">
                            <path d="M230.92,212c-15.23-26.33-38.7-45.21-66.09-54.16a72,72,0,1,0-73.66,0C63.78,166.78,40.31,185.66,25.08,212a8,8,0,1,0,13.85,8c18.84-32.56,52.14-52,89.07-52s70.23,19.44,89.07,52a8,8,0,1,0,13.85-8ZM72,96a56,56,0,1,1,56,56A56.06,56.06,0,0,1,72,96Z"></path>
                        </svg>
                        Profile
                    </button>

                    <div class="nav-login-links">

                        <div class="nav-login-links-header">
                            <h6>Welcome</h6>
                            @if (Session["u_email"] == null)
                            {
                                <p>To access account and manage orders</p>
                                <div class="nav-auth-container">
                                    <a href="@Url.Action("Login", "Auth")">Login</a>
                                    <span>/</span>
                                    <a href="@Url.Action("SignUp", "Auth")">Sign up</a>
                                </div>
                            }
                            else
                            {
                                <h6>@Session["u_name"]</h6>
                            }

                        </div>

                        <div class="nav-login-links-content">
                            <ul>
                                <li>
                                    <a href="@Url.Action("Order", "User")">Orders</a>
                                </li>
                                <li>
                                    <a href="@Url.Action("AllWishlist", "User")">Wishlist</a>
                                </li>
                                <li>
                                    <a href="@Url.Action("Cart", "User")">Cart</a>
                                </li>
                                <li>
                                    <a href="@Url.Action("ContactUs", "Home")">Contact Us</a>
                                </li>
                            </ul>
                        </div>
                        @if (Session["u_email"] != null)
                        {
                            <div class="nav-login-links-footer">
                                <ul>
                                    <li>
                                        <a href="@Url.Action("EditProfile", "User")">Edit Profile</a>
                                    </li>
                                    <li>
                                        <span>/</span>
                                    </li>
                                    <li>
                                        <a href="@Url.Action("Logout", "Auth")">Logout</a>
                                    </li>
                                </ul>
                            </div>
                        }

                    </div>

                </div>

                <div class="nav-wishlist">
                    <a href="@Url.Action("AllWishlist", "User")">
                        <svg xmlns="http://www.w3.org/2000/svg" width="19" height="19" fill="#000000" viewBox="0 0 256 256">
                            <path d="M178,32c-20.65,0-38.73,8.88-50,23.89C116.73,40.88,98.65,32,78,32A62.07,62.07,0,0,0,16,94c0,70,103.79,126.66,108.21,129a8,8,0,0,0,7.58,0C136.21,220.66,240,164,240,94A62.07,62.07,0,0,0,178,32ZM128,206.8C109.74,196.16,32,147.69,32,94A46.06,46.06,0,0,1,78,48c19.45,0,35.78,10.36,42.6,27a8,8,0,0,0,14.8,0c6.82-16.67,23.15-27,42.6-27a46.06,46.06,0,0,1,46,46C224,147.61,146.24,196.15,128,206.8Z"></path>
                        </svg>
                        Wishlist
                    </a>
                </div>

                <div class="nav-cart">
                    <a href="@Url.Action("Cart", "User")">
                        <svg xmlns="http://www.w3.org/2000/svg" width="19" height="19" fill="#000000" viewBox="0 0 256 256">
                            <path d="M222.14,58.87A8,8,0,0,0,216,56H54.68L49.79,29.14A16,16,0,0,0,34.05,16H16a8,8,0,0,0,0,16h18L59.56,172.29a24,24,0,0,0,5.33,11.27,28,28,0,1,0,44.4,8.44h45.42A27.75,27.75,0,0,0,152,204a28,28,0,1,0,28-28H83.17a8,8,0,0,1-7.87-6.57L72.13,152h116a24,24,0,0,0,23.61-19.71l12.16-66.86A8,8,0,0,0,222.14,58.87ZM96,204a12,12,0,1,1-12-12A12,12,0,0,1,96,204Zm96,0a12,12,0,1,1-12-12A12,12,0,0,1,192,204Zm4-74.57A8,8,0,0,1,188.1,136H69.22L57.59,72H206.41Z"></path>
                        </svg>
                        Cart
                    </a>
                </div>
            </div>

        </div>
    </nav>

    <div class="sidebar-modal"></div>

    <aside class="sidebar">
        <div class="sidebar-container">
            <button class="sidebar-close-btn">
                <svg xmlns="http://www.w3.org/2000/svg" width="19" height="19" fill="#000000" viewBox="0 0 256 256">
                    <path d="M222,128a6,6,0,0,1-6,6H54.49l61.75,61.76a6,6,0,1,1-8.48,8.48l-72-72a6,6,0,0,1,0-8.48l72-72a6,6,0,0,1,8.48,8.48L54.49,122H216A6,6,0,0,1,222,128Z"></path>
                </svg>
            </button>

            <ul class="sidebar-links">
                <li>
                    <a href="@Url.Action("EditProfile", "User")">
                        <svg xmlns="http://www.w3.org/2000/svg" width="19" height="19" fill="#000000" viewBox="0 0 256 256">
                            <path d="M230.92,212c-15.23-26.33-38.7-45.21-66.09-54.16a72,72,0,1,0-73.66,0C63.78,166.78,40.31,185.66,25.08,212a8,8,0,1,0,13.85,8c18.84-32.56,52.14-52,89.07-52s70.23,19.44,89.07,52a8,8,0,1,0,13.85-8ZM72,96a56,56,0,1,1,56,56A56.06,56.06,0,0,1,72,96Z"></path>
                        </svg>
                        Edit Profile
                    </a>
                </li>
                <li>
                    <a href="@Url.Action("Order", "User")">
                        <svg xmlns="http://www.w3.org/2000/svg" width="19" height="19" fill="#000000" viewBox="0 0 256 256">
                            <path d="M223.68,66.15,135.68,18a15.88,15.88,0,0,0-15.36,0l-88,48.17a16,16,0,0,0-8.32,14v95.64a16,16,0,0,0,8.32,14l88,48.17a15.88,15.88,0,0,0,15.36,0l88-48.17a16,16,0,0,0,8.32-14V80.18A16,16,0,0,0,223.68,66.15ZM128,32l80.34,44-29.77,16.3-80.35-44ZM128,120,47.66,76l33.9-18.56,80.34,44ZM40,90l80,43.78v85.79L40,175.82Zm176,85.78h0l-80,43.79V133.82l32-17.51V152a8,8,0,0,0,16,0V107.55L216,90v85.77Z"></path>
                        </svg>
                        Orders
                    </a>
                </li>
                <li>
                    <a href="@Url.Action("AllWishlist", "User")">
                        <svg xmlns="http://www.w3.org/2000/svg" width="19" height="19" fill="#000000" viewBox="0 0 256 256">
                            <path d="M178,32c-20.65,0-38.73,8.88-50,23.89C116.73,40.88,98.65,32,78,32A62.07,62.07,0,0,0,16,94c0,70,103.79,126.66,108.21,129a8,8,0,0,0,7.58,0C136.21,220.66,240,164,240,94A62.07,62.07,0,0,0,178,32ZM128,206.8C109.74,196.16,32,147.69,32,94A46.06,46.06,0,0,1,78,48c19.45,0,35.78,10.36,42.6,27a8,8,0,0,0,14.8,0c6.82-16.67,23.15-27,42.6-27a46.06,46.06,0,0,1,46,46C224,147.61,146.24,196.15,128,206.8Z"></path>
                        </svg>
                        Wishlist
                    </a>
                </li>
                <li>
                    <a href="@Url.Action("Cart", "User")">
                        <svg xmlns="http://www.w3.org/2000/svg" width="19" height="19" fill="#000000" viewBox="0 0 256 256">
                            <path d="M222.14,58.87A8,8,0,0,0,216,56H54.68L49.79,29.14A16,16,0,0,0,34.05,16H16a8,8,0,0,0,0,16h18L59.56,172.29a24,24,0,0,0,5.33,11.27,28,28,0,1,0,44.4,8.44h45.42A27.75,27.75,0,0,0,152,204a28,28,0,1,0,28-28H83.17a8,8,0,0,1-7.87-6.57L72.13,152h116a24,24,0,0,0,23.61-19.71l12.16-66.86A8,8,0,0,0,222.14,58.87ZM96,204a12,12,0,1,1-12-12A12,12,0,0,1,96,204Zm96,0a12,12,0,1,1-12-12A12,12,0,0,1,192,204Zm4-74.57A8,8,0,0,1,188.1,136H69.22L57.59,72H206.41Z"></path>
                        </svg>
                        Cart
                    </a>
                </li>
            </ul>

            <div class="download-links">

                <div class="apple-store">
                    <img src="~/Content/Assets/DownloadLink/apple-app-store-button.jpg" />
                </div>

                <div class="google-store">
                    <img src="~/Content/Assets/DownloadLink/google-play-button.jpg" />
                </div>

            </div>

            <div class="sidebar-auth-container">
                @if (Session["u_email"] == null)
                {
                    <a href="@Url.Action("Login", "Auth")">Log in</a>
                    <a href="@Url.Action("SignUp", "Auth")">Sign Up</a>
                }
                else
                {
                    <a href="@Url.Action("Logout", "Auth")">Logout</a>
                }
            </div>
        </div>
    </aside>

    <div class="container body-content">
        @RenderBody()
        <!-- <footer>
            <p>&copy; @DateTime.Now.Year - My ASP.NET Application</p>
        </footer>  -->

    </div>

    <footer class="footer">
        <div class="footer-container">
            <div class="footer-upper">
                <div class="footer-logo">
                    <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
                         width="130" height="30" viewBox="50 100 240 50"
                         preserveAspectRatio="xMidYMid meet" color-interpolation-filters="sRGB"
                         style="margin: auto;">
                        <g data-v-0dd9719b="" fill="#18130d" class="iconlinesvg-g iconlinesvg" transform="translate(86.8103609085083,102.74509048461914)"><g class="tp-name"><g transform="translate(0, 0)"><g data-gra="path-name" fill="#18130d" transform="scale(1)"><path d="M30.19-41.48L38.51-41.48L38.51 0L30.19 0L30.19-17.65L12.42-17.65L12.42 0L4.10 0L4.10-41.48L12.42-41.48L12.42-24.42L30.19-24.42L30.19-41.48Z" transform="translate(-4.100363156157147, 43.97490921096072)"></path></g></g><g transform="translate(38, 2.2523247669406885)"><g><g class="imagesvg"><g><rect fill="#18130d" fill-opacity="0" stroke-width="2" x="0" y="0" width="35.928170967333386" height="40.00508965396941" class="image-rect"></rect> <svg x="0" y="0" width="35.928170967333386" height="40.00508965396941" filtersec="colorsb6614549201" class="image-svg-svg primary" style="overflow: visible;"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 -3.197441294480914e-14 113.06000518798828 125.88999938964844"><title>U</title><g id="fd6016d2-c96e-426b-8ec6-be844d19d81e" data-name="圖層 2"><g id="603d6c58-417f-4c92-adc4-633165d5b8eb" data-name="栝鍣 1"><path d="M108.56,0H69.84a4.5,4.5,0,0,0-4.5,4.5V87.1H47.72V4.5A4.5,4.5,0,0,0,43.22,0H4.5A4.5,4.5,0,0,0,0,4.5v87s0,0,0,0v0c0,.11,0,.21,0,.32s0,.1,0,.15A4.5,4.5,0,0,0,2.3,95.53L40.47,125a4.48,4.48,0,0,0,.63.41l.18.08a4.51,4.51,0,0,0,.5.21l.31.08c.13,0,.26.08.4.1a4.51,4.51,0,0,0,.6,0h65.47a4.5,4.5,0,0,0,4.5-4.5V4.5A4.5,4.5,0,0,0,108.56,0ZM65.34,116.94H44.75l-27-20.84H65.34ZM38.72,9V87.1H9V9Zm65.34,107.94H74.34V9h29.72Z" fill="#18130d"></path></g></g></svg></svg> <!----></g></g></g></g><g transform="translate(77, 0)"><g data-gra="path-name" fill="#18130d" transform="scale(1)"><path d="M21.16-26.09L13.79-26.09L13.79-10.16Q13.79-8.50 14.59-7.76Q15.39-7.01 17.29-7.01L17.29-7.01L21.16-7.01L21.16 0L15.93 0Q5.41 0 5.41-10.22L5.41-10.22L5.41-26.09L1.49-26.09L1.49-32.92L5.41-32.92L5.41-41.06L13.79-41.06L13.79-32.92L21.16-32.92L21.16-26.09Z" transform="translate(-1.4856388246946188, 43.97490921096072)"></path></g></g><g transform="translate(100, 0)"><g data-gra="path-name" fill="#18130d" transform="scale(1)"><path d="M1.96-16.46Q1.96-21.57 4.04-25.40Q6.12-29.24 9.81-31.35Q13.49-33.46 18.24-33.46L18.24-33.46Q24.36-33.46 28.38-30.40Q32.39-27.34 33.75-21.81L33.75-21.81L24.78-21.81Q24.07-23.95 22.37-25.17Q20.68-26.38 18.18-26.38L18.18-26.38Q14.62-26.38 12.54-23.80Q10.46-21.21 10.46-16.46L10.46-16.46Q10.46-11.77 12.54-9.18Q14.62-6.60 18.18-6.60L18.18-6.60Q23.24-6.60 24.78-11.11L24.78-11.11L33.75-11.11Q32.39-5.76 28.35-2.61Q24.31 0.53 18.24 0.53L18.24 0.53Q13.49 0.53 9.81-1.57Q6.12-3.68 4.04-7.52Q1.96-11.35 1.96-16.46L1.96-16.46Z" transform="translate(-1.961043248596897, 43.97490921096072)"></path></g></g><g transform="translate(135, 0)"><g data-gra="path-name" fill="#18130d" transform="scale(1)"><path d="M22.64-33.40Q26.38-33.40 29.30-31.76Q32.21-30.13 33.84-26.95Q35.48-23.77 35.48-19.31L35.48-19.31L35.48 0L27.16 0L27.16-18.18Q27.16-22.11 25.20-24.22Q23.24-26.33 19.85-26.33L19.85-26.33Q16.40-26.33 14.41-24.22Q12.42-22.11 12.42-18.18L12.42-18.18L12.42 0L4.10 0L4.10-43.97L12.42-43.97L12.42-28.82Q14.02-30.96 16.70-32.18Q19.37-33.40 22.64-33.40L22.64-33.40Z" transform="translate(-4.100363156157148, 43.97490921096072)"></path></g></g></g> <!----></g>
                        <defs v-gra="od"></defs>
                    </svg>
                </div>
                <div class="footer-links">
                    <h4>Links</h4>
                    <ul>
                        <li>Sell Online</li>
                        <li>Features</li>
                        <li>Website Editors</li>
                        <li>Online Retails</li>
                    </ul>
                </div>
                <div class="footer-about">
                    <h4>About</h4>
                    <ul>
                        <li>Contact</li>
                        <li>Services</li>
                        <li>Team</li>
                        <li>Support</li>
                    </ul>
                </div>
                <div class="footer-location">
                    <h4>Location</h4>
                    <ul>
                        <li>
                            <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="#000000" viewBox="0 0 256 256">
                                <path d="M229.33,98.21,53.41,33l-.16-.05A16,16,0,0,0,32.9,53.25a1,1,0,0,0,.05.16L98.21,229.33A15.77,15.77,0,0,0,113.28,240h.3a15.77,15.77,0,0,0,15-11.29l23.56-76.56,76.56-23.56a16,16,0,0,0,.62-30.38ZM224,113.3l-76.56,23.56a16,16,0,0,0-10.58,10.58L113.3,224h0l-.06-.17L48,48l175.82,65.22.16.06Z"></path>
                            </svg>
                        </li>
                        <li>
                            <p>8, Council House St, Lal Dighi, B.B.D. Bagh, Kolkata, West Bengal 700001</p>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="footer-lower">
                <div class="footer-media">
                    <div class="footer-license">
                        <h5>Privacy & Policy</h5>
                        <h5>Terms & Conditions</h5>
                    </div>
                    <ul class="footer-socials">
                        <li>
                            <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="#000000" viewBox="0 0 256 256">
                                <path d="M128,24A104,104,0,1,0,232,128,104.11,104.11,0,0,0,128,24Zm8,191.63V152h24a8,8,0,0,0,0-16H136V112a16,16,0,0,1,16-16h16a8,8,0,0,0,0-16H152a32,32,0,0,0-32,32v24H96a8,8,0,0,0,0,16h24v63.63a88,88,0,1,1,16,0Z">
                                </path>
                            </svg>
                        </li>
                        <li>
                            <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="#000000" viewBox="0 0 256 256">
                                <path d="M247.39,68.94A8,8,0,0,0,240,64H209.57A48.66,48.66,0,0,0,168.1,40a46.91,46.91,0,0,0-33.75,13.7A47.9,47.9,0,0,0,120,88v6.09C79.74,83.47,46.81,50.72,46.46,50.37a8,8,0,0,0-13.65,4.92c-4.31,47.79,9.57,79.77,22,98.18a110.93,110.93,0,0,0,21.88,24.2c-15.23,17.53-39.21,26.74-39.47,26.84a8,8,0,0,0-3.85,11.93c.75,1.12,3.75,5.05,11.08,8.72C53.51,229.7,65.48,232,80,232c70.67,0,129.72-54.42,135.75-124.44l29.91-29.9A8,8,0,0,0,247.39,68.94Zm-45,29.41a8,8,0,0,0-2.32,5.14C196,166.58,143.28,216,80,216c-10.56,0-18-1.4-23.22-3.08,11.51-6.25,27.56-17,37.88-32.48A8,8,0,0,0,92,169.08c-.47-.27-43.91-26.34-44-96,16,13,45.25,33.17,78.67,38.79A8,8,0,0,0,136,104V88a32,32,0,0,1,9.6-22.92A30.94,30.94,0,0,1,167.9,56c12.66.16,24.49,7.88,29.44,19.21A8,8,0,0,0,204.67,80h16Z"></path>
                            </svg>
                        </li>
                        <li>
                            <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="#000000" viewBox="0 0 256 256">
                                <path d="M128,80a48,48,0,1,0,48,48A48.05,48.05,0,0,0,128,80Zm0,80a32,32,0,1,1,32-32A32,32,0,0,1,128,160ZM176,24H80A56.06,56.06,0,0,0,24,80v96a56.06,56.06,0,0,0,56,56h96a56.06,56.06,0,0,0,56-56V80A56.06,56.06,0,0,0,176,24Zm40,152a40,40,0,0,1-40,40H80a40,40,0,0,1-40-40V80A40,40,0,0,1,80,40h96a40,40,0,0,1,40,40ZM192,76a12,12,0,1,1-12-12A12,12,0,0,1,192,76Z"></path>
                            </svg>
                        </li>
                        <li>
                            <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="#000000" viewBox="0 0 256 256">
                                <path d="M216,24H40A16,16,0,0,0,24,40V216a16,16,0,0,0,16,16H216a16,16,0,0,0,16-16V40A16,16,0,0,0,216,24Zm0,192H40V40H216V216ZM96,112v64a8,8,0,0,1-16,0V112a8,8,0,0,1,16,0Zm88,28v36a8,8,0,0,1-16,0V140a20,20,0,0,0-40,0v36a8,8,0,0,1-16,0V112a8,8,0,0,1,15.79-1.78A36,36,0,0,1,184,140ZM100,84A12,12,0,1,1,88,72,12,12,0,0,1,100,84Z"></path>
                            </svg>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </footer>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/custom")
    @Scripts.Render("~/bundles/Nav")
    @RenderSection("scripts", required: false)
</body>
</html>
