@model Hutch.Models.User

@{
    Layout = null;
    ViewBag.Title = "ForgetPassword";
}
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap" rel="stylesheet">

<link href="~/Content/Styles/Reset.css" rel="stylesheet" />
<link href="~/Content/Styles/Shared.css" rel="stylesheet" />
<link href="~/Content/Styles/User/ForgetPassword.css" rel="stylesheet" />


<div class="hutch-forgetpassword-container">

    <div class="forgetpassword-form-wrapper">

        <div class="forgetpassword-form-container">
            @using (Html.BeginForm())
            {
                @Html.AntiForgeryToken()
                <div class="form-header">
                    <h4>Forgot your password?</h4>
                    <p>Enter your email address below and we'll send you a code to reset your password'</p>
                </div>

                <h4 class="error-mesaage">@ViewBag.Message</h4>

                <div class="form-horizontal">
                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })

                    <div class="form-group">
                        @Html.LabelFor(model => model.email, htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.email, new { htmlAttributes = new { @class = "form-control", placeholder = "Email address" } })
                            @Html.ValidationMessageFor(model => model.email, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <button class="forget-password-submit-btn" type="submit">Send code</button>

                </div>
            }

            <div class="forgetpassword-form-footer">
                <span>Remember your password?</span>
                <a href="@Url.Action("Login", "Auth")">Log in</a>
            </div>
        </div>
    </div>
</div>
