@model Hutch.ViewModels.OrderViewModel

@{
    ViewBag.Title = "Order";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<link href="~/Content/Styles/User/Order.css" rel="stylesheet" />


<main class="user-order">
    <h3 class="order-user-name">Hello @Session["u_name"]</h3>
    <h2>Your Orders</h2>

    <div class="user-order-container">

        @if (Model.pending.Count > 0)
        {
            <div class="user-orders pending-orders">

                <h6>Pending</h6>

                <div class="pending-orders-container">
                    @foreach (var pendingOrder in Model.pending)
                    {
                        var base64 = Convert.ToBase64String(pendingOrder.p_image);
                        var imagesrc = string.Format("data: image/gif; base64, {0}", base64);

                        <div class="user-order-card">

                            <div class="order-card-header">
                                <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="#000000" viewBox="0 0 256 256">
                                    <path d="M223.68,66.15,135.68,18a15.88,15.88,0,0,0-15.36,0l-88,48.17a16,16,0,0,0-8.32,14v95.64a16,16,0,0,0,8.32,14l88,48.17a15.88,15.88,0,0,0,15.36,0l88-48.17a16,16,0,0,0,8.32-14V80.18A16,16,0,0,0,223.68,66.15ZM128,32l80.34,44-29.77,16.3-80.35-44ZM128,120,47.66,76l33.9-18.56,80.34,44ZM40,90l80,43.78v85.79L40,175.82Zm176,85.78h0l-80,43.79V133.82l32-17.51V152a8,8,0,0,0,16,0V107.55L216,90v85.77Z"></path>
                                </svg>

                                <div class="order-status">

                                    <h6>@pendingOrder.order_status</h6>

                                    <div class="order-date">
                                        <span>@pendingOrder.order_date.Substring(0, 10)</span>
                                        <span class="divider"></span>
                                        <span>
                                            <svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" fill="#000000" viewBox="0 0 256 256">
                                                <path d="M255.42,117l-14-35A15.93,15.93,0,0,0,226.58,72H192V64a8,8,0,0,0-8-8H32A16,16,0,0,0,16,72V184a16,16,0,0,0,16,16H49a32,32,0,0,0,62,0h50a32,32,0,0,0,62,0h17a16,16,0,0,0,16-16V120A7.94,7.94,0,0,0,255.42,117ZM192,88h34.58l9.6,24H192ZM32,72H176v64H32ZM80,208a16,16,0,1,1,16-16A16,16,0,0,1,80,208Zm81-24H111a32,32,0,0,0-62,0H32V152H176v12.31A32.11,32.11,0,0,0,161,184Zm31,24a16,16,0,1,1,16-16A16,16,0,0,1,192,208Zm48-24H223a32.06,32.06,0,0,0-31-24V128h48Z"></path>
                                            </svg>
                                            By DHL
                                        </span>
                                    </div>

                                </div>

                            </div>


                            <div class="order-card-content-wrapper">

                                <a href="@Url.Action("Details", "Product", new {pid = pendingOrder.pid})">
                                    <div class="order-card-content">
                                        <img src="@imagesrc" alt="@pendingOrder.p_name" />
                                        <div class="order-details">
                                            <h6>@pendingOrder.p_name</h6>
                                            <span>Quantity: @pendingOrder.p_quantity</span>
                                            <span>@pendingOrder.p_price</span>
                                        </div>
                                    </div>
                                </a>

                                <a class="cancel-order" href="@Url.Action("CancelOrder", "User", new {oid = pendingOrder.order_item_id, invoice_id = pendingOrder.invoice_id, email = pendingOrder.email})">
                                    Cancel
                                    <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="#ffffff" viewBox="0 0 256 256">
                                        <path d="M216,40H40A16,16,0,0,0,24,56V208a8,8,0,0,0,11.58,7.15L64,200.94l28.42,14.21a8,8,0,0,0,7.16,0L128,200.94l28.42,14.21a8,8,0,0,0,7.16,0L192,200.94l28.42,14.21A8,8,0,0,0,232,208V56A16,16,0,0,0,216,40Zm0,155.06-20.42-10.22a8,8,0,0,0-7.16,0L160,199.06l-28.42-14.22a8,8,0,0,0-7.16,0L96,199.06,67.58,184.84a8,8,0,0,0-7.16,0L40,195.06V56H216ZM98.34,138.34,116.69,120,98.34,101.66a8,8,0,0,1,11.32-11.32L128,108.69l18.34-18.35a8,8,0,0,1,11.32,11.32L139.31,120l18.35,18.34a8,8,0,0,1-11.32,11.32L128,131.31l-18.34,18.35a8,8,0,0,1-11.32-11.32Z"></path>
                                    </svg>
                                </a>
                            </div>


                        </div>
                    }
                </div>
            </div>
        }

        @if (Model.outForDelivery.Count > 0)
        {

            <div class="user-orders out-for-delivery-orders">

                <h6>Out for delivery</h6>

                <div class="out-for-delivery-orders-container">
                    @foreach (var outOrders in Model.outForDelivery)
                    {
                        var base64 = Convert.ToBase64String(outOrders.p_image);
                        var imagesrc = string.Format("data: image/gif; base64, {0}", base64);

                        <div class="user-order-card">

                            <div class="order-card-header">
                                <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="#000000" viewBox="0 0 256 256">
                                    <path d="M223.68,66.15,135.68,18a15.88,15.88,0,0,0-15.36,0l-88,48.17a16,16,0,0,0-8.32,14v95.64a16,16,0,0,0,8.32,14l88,48.17a15.88,15.88,0,0,0,15.36,0l88-48.17a16,16,0,0,0,8.32-14V80.18A16,16,0,0,0,223.68,66.15ZM128,32l80.34,44-29.77,16.3-80.35-44ZM128,120,47.66,76l33.9-18.56,80.34,44ZM40,90l80,43.78v85.79L40,175.82Zm176,85.78h0l-80,43.79V133.82l32-17.51V152a8,8,0,0,0,16,0V107.55L216,90v85.77Z"></path>
                                </svg>

                                <div class="order-status">

                                    <h6>@outOrders.order_status</h6>

                                    <div class="order-date">
                                        <span>@outOrders.order_date.Substring(0, 10)</span>
                                        <span class="divider"></span>
                                        <span>
                                            <svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" fill="#000000" viewBox="0 0 256 256">
                                                <path d="M255.42,117l-14-35A15.93,15.93,0,0,0,226.58,72H192V64a8,8,0,0,0-8-8H32A16,16,0,0,0,16,72V184a16,16,0,0,0,16,16H49a32,32,0,0,0,62,0h50a32,32,0,0,0,62,0h17a16,16,0,0,0,16-16V120A7.94,7.94,0,0,0,255.42,117ZM192,88h34.58l9.6,24H192ZM32,72H176v64H32ZM80,208a16,16,0,1,1,16-16A16,16,0,0,1,80,208Zm81-24H111a32,32,0,0,0-62,0H32V152H176v12.31A32.11,32.11,0,0,0,161,184Zm31,24a16,16,0,1,1,16-16A16,16,0,0,1,192,208Zm48-24H223a32.06,32.06,0,0,0-31-24V128h48Z"></path>
                                            </svg>
                                            By DHL
                                        </span>
                                    </div>

                                </div>

                            </div>

                            <a href="@Url.Action("Details", "Product", new {pid = outOrders.pid})">

                                <div class="order-card-content">
                                    <img src="@imagesrc" alt="@outOrders.p_name" />
                                    <div class="order-details">
                                        <h6>@outOrders.p_name</h6>
                                        <span>Quantity: @outOrders.p_quantity</span>
                                        <span>@outOrders.p_price</span>
                                    </div>
                                </div>

                            </a>

                        </div>
                    }
                </div>

            </div>
        }


        @if (Model.delivered.Count > 0)
        {
            <div class="user-orders delivered-orders">

                <h6>Delivered</h6>

                <div class="delivered-orders-container">
                    @foreach (var deliveredOrder in Model.delivered)
                    {
                        var base64 = Convert.ToBase64String(deliveredOrder.p_image);
                        var imagesrc = string.Format("data: image/gif; base64, {0}", base64);

                        <div class="user-order-card">

                            <div class="order-card-header">
                                <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="#000000" viewBox="0 0 256 256">
                                    <path d="M223.68,66.15,135.68,18a15.88,15.88,0,0,0-15.36,0l-88,48.17a16,16,0,0,0-8.32,14v95.64a16,16,0,0,0,8.32,14l88,48.17a15.88,15.88,0,0,0,15.36,0l88-48.17a16,16,0,0,0,8.32-14V80.18A16,16,0,0,0,223.68,66.15ZM128,32l80.34,44-29.77,16.3-80.35-44ZM128,120,47.66,76l33.9-18.56,80.34,44ZM40,90l80,43.78v85.79L40,175.82Zm176,85.78h0l-80,43.79V133.82l32-17.51V152a8,8,0,0,0,16,0V107.55L216,90v85.77Z"></path>
                                </svg>

                                <div class="order-status">

                                    <h6>@deliveredOrder.order_status</h6>

                                    <div class="order-date">
                                        <span>@deliveredOrder.order_date.Substring(0, 10)</span>
                                        <span class="divider"></span>
                                        <span>
                                            <svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" fill="#000000" viewBox="0 0 256 256">
                                                <path d="M255.42,117l-14-35A15.93,15.93,0,0,0,226.58,72H192V64a8,8,0,0,0-8-8H32A16,16,0,0,0,16,72V184a16,16,0,0,0,16,16H49a32,32,0,0,0,62,0h50a32,32,0,0,0,62,0h17a16,16,0,0,0,16-16V120A7.94,7.94,0,0,0,255.42,117ZM192,88h34.58l9.6,24H192ZM32,72H176v64H32ZM80,208a16,16,0,1,1,16-16A16,16,0,0,1,80,208Zm81-24H111a32,32,0,0,0-62,0H32V152H176v12.31A32.11,32.11,0,0,0,161,184Zm31,24a16,16,0,1,1,16-16A16,16,0,0,1,192,208Zm48-24H223a32.06,32.06,0,0,0-31-24V128h48Z"></path>
                                            </svg>
                                            By DHL
                                        </span>
                                    </div>

                                </div>

                            </div>

                            <a href="@Url.Action("Details", "Product", new {pid = deliveredOrder.pid})">

                                <div class="order-card-content">
                                    <img src="@imagesrc" alt="@deliveredOrder.p_name" />
                                    <div class="order-details">
                                        <h6>@deliveredOrder.p_name</h6>
                                        <span>Quantity: @deliveredOrder.p_quantity</span>
                                        <span>@deliveredOrder.p_price</span>
                                    </div>
                                </div>

                            </a>

                        </div>
                    }
                </div>

            </div>
        }

        @if(Model.pending.Count == 0 && Model.outForDelivery.Count == 0 && Model.delivered.Count == 0) { 
            <div class="no-orders-yet">
                <h6>No orders to show</h6>
            </div>
        }

    </div>
</main>

